@inherits EssentialsTestBaseComponent

@page "/testpage"

<div>
    <button @onclick="GetLocation">Get Location</button>
    <br />
    <button @onclick="GetLocationPersistent">Get Location Persistent</button>
    <br />
    <label>GeoLocation</label>
    <br />
    @if (AppState.Location != null)
    {
        <label>Lat: @(AppState.Location.Lat)</label>
        <label>Lon: @(AppState.Location.Lon)</label>
    }
    else
    {
        <label>Lat:</label>
        <label>Lon:</label>
    }

    <br />

    <label>Persistent GeoLocation</label>
    <br />

    @if (AppState.PersistentLocation != null)
    {
        <label>Persistent Lat: @(AppState.PersistentLocation.Lat)</label>
        <label>Persistent Lon: @(AppState.PersistentLocation.Lon)</label>
    }
    else
    {
        <label>Lat:</label>
        <label>Lon:</label>
    }
    <br />
</div>


@code {



    private async void GetLocation()
    {
        var location = await GeoLocationService.GetLocationAsync();

        AppState.Location = location;
    }

    private async void GetLocationPersistent()
    {
        var location = await GeoLocationService.GetLocationAsync();

        AppState.PersistentLocation = location;
    }

    
}
