@inherits EssentialsBaseComponent

<style>
    #EssentialsLoader::backdrop {
        background: rgba(104,104,104,.75);
    }
    #EssentialsLoader{
        background-color: white;
        border: none;
        border-radius: 10px;
        padding: 20px;
    }
    .dark-mode #EssentialsLoader {
        background-color: #454d55;
        color: white;
    }
    #EssentialsLoader h3
    {
        width: 100%;
        text-align: center;
    }
    .dialog-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .dialog-buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
</style>


<dialog id="EssentialsLoader">
    <div class="dialog-container">
        <div style="width: 200px;">
            <div class="d-flex justify-content-center">
              <div class="spinner-@Style.ToString() spinner-@Style.ToString()-@Size.ToString() text-@LoaderColor.ToString()" role="status"></div>
            </div>
            <div class="d-flex justify-content-center">
                @Message
            </div>
        </div>
    </div>
</dialog>


@code {
    [Parameter]
    public string Message { get; set; } = "Loading...";

    [Parameter]
    public MarkupColor LoaderColor { get; set; } = MarkupColor.Primary;

    [Parameter]
    public LoaderSize Size { get; set; } = LoaderSize.MD;

    [Parameter]
    public LoaderStyle Style { get; set; } = LoaderStyle.Border;

    public async void ShowModal()
    {
        await JS.ShowModalDialog("EssentialsLoader");
    }

    public async void CloseModal()
    {
        await JS.CloseModalDialog("EssentialsLoader");
    }
}